<div class="container p-4">
    <div class="row">
        {{#each teams}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="">
                        <p class="card-title text-uppercase">
                            {{name}}
                        </p>
                    </a>
                    <p>{{timeago createTeams}}</p>
                    <a href="/teams/delete-team/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/teams/edit-team/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not teams saved yet.</p>
                <a href="/teams/add-team">Create one!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>