<link rel="stylesheet" href="/css/cards.css">
<div class="container">
    {{#each admonitions}}
    <div class="card">
        <div class="box">
            <div class="content">
                <h5>Nombre del jugador</h5>
                <h3>
                    {{player_name}}
                </h3>
                <h5>Número de jugador</h5>
                <h3>
                    {{player_number}}
                </h3>
                <h5>Nombre del equipo</h5>
                  <h3>
                    {{team_name}}
                </h3>
                <center>
                    <a href="/admonitions/delete-admonition/{{id}}" style="background-color: red ; color:aliceblue;"
                        class="danger">Eliminar</a>
                    <a href="/admonitions/edit-admonition/{{id}}" style="background-color: black; color:aliceblue;"
                        class="secondary">Editar</a>
                </center>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="box">
            <div class="content">
                <p>Sin registros por el momento.</p>
                <a href="/admonitions/add-admonition">Crear uno!</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>