<link rel="stylesheet" href="/css/styles-list-admonition.css">
<div class="container p-4">
    <div class="row">
        {{#each admonitions}}
        <div class="card">
            <div class="box">
                <div class="content">
                    <a href="">
                        <h3 class="card-title text-uppercase">
                            {{player_name}}
                        </h3>
                        <h3 class="card-title text-uppercase">
                            {{player_number}}
                        </h3>
                    </a>
                    <p>{{timeago createAdmonitions}}</p>
                    <a href="/admonitions/delete-admonition/{{id}}" style="background-color: red ; color:aliceblue;"
                        class="btn btn-danger">Eliminar</a>
                    <a href="/admonitions/edit-admonition/{{id}}"
                        style="background-color: rgb(12, 174, 0) ; color:aliceblue;" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card">
            <div class="box">
                <div class="content">
                    <p>Sin registros por el momento.</p>
                    <a href="/admonitions/add-admonition">Crear uno!</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>