<link rel="stylesheet" href="/css/cards.css">
<div class="container">
        {{#each players}}
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Jugador</h5>
                    <h3>  
                        {{name}}
                        
                    </h3>
                    <h5>Posición</h5>
                    <h3>
                        {{position}}
                    </h3>
                    <h5>Número de camiseta</h5>
                    <h3>
                        {{shirt_number}}
                    </h3>
                    <center>
                        <a href="/players/delete-player/{{id}}" style="background-color: red ; color:aliceblue;"
                            class="danger">Eliminar</a>
                        <a href="/players/edit-players/{{id}}" style="background-color: black; color:aliceblue;"
                            class="secondary">Editar</a>
                    </center>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card">
            <div class="box">
                <div class="content">
                    <p>Sin registros por el momento.</p>
                    <a href="/players/add-player">Crear uno!</a>
                </div>
            </div>
        </div>
        {{/each}}
</div>