<link rel="stylesheet" href="/css/cards.css">
<div class="container">
    {{#each observations}}
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>
                    {{observation_team1}}
                </h3>
                <h3>
                    {{observation_team2}}
                </h3>
                <center>
                    <a href="/observations/delete-observation/{{id}}" style="background-color: red ; color:aliceblue;"
                        class="danger">Eliminar</a>
                    <a href="/observations/edit-observation/{{id}}" style="background-color: black; color:aliceblue;"
                        class="secondary">Editar</a>
                </center>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="box">
            <div class="content">
                <p>Sin registros por el momento.</p>
                <a href="/observations/add-observation">Crear uno!</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>