<link rel="stylesheet" href="/css/cards.css">
<div class="container">
    {{#each matches}}
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>
                    {{stadium}}
                </h3>
                <h3>
                    {{date_start}}
                </h3>
                <h3>
                    {{time_start}}
                </h3>
                <center>
                    <a href="/matches/delete-match/{{id}}" style="background-color: red ; color:aliceblue;"
                        class="danger" class="btn btn-danger">Eliminar</a>
                    <a href="/matches/edit-match/{{id}}" style="background-color: black; color:aliceblue;"
                        class="secondary">Editar</a>
                </center>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="box">
            <div class="content">
                <p>Sin registros por el momento.</p>
                <a href="/matches/add-match">Crear uno!</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>