<div class="container p-4">
    <div class="row">
        {{#each expulsions}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="">
                        <h3 class="card-title text-uppercase">
                            {{player_name}}
                        </h3>
                        <p class="card-title text-uppercase">
                            {{player_number}}
                        </p>
                    </a>
                    <p>{{timeago createAdmonitions}}</p>
                    <a href="/expulsions/delete-expulsion/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/expulsions/edit-expulsion/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not expulsions saved yet.</p>
                <a href="/expulsions/add-expulsion">Create one!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>